# Lines starting with '#' are considered comments.
*.agdai
*.agda~
*.aux
*.log
*.ptb
*.blg
# *.tex
*.dvi
*.cls
*.bbl
*.ddf
.DS_Store

*.tex

*.pdf

2013 TYPES Paper/latex/.DS_Store

2013 TYPES Paper/.DS_Store
