# Lines starting with '#' are considered comments.
*.agdai
*.agda~
*.aux
*.log
*.ptb
*.blg
# *.tex
*.dvi
*.cls
*.bbl
*.ddf
.DS_Store

*.tex

2013 TYPES Paper/latex/.DS_Store

2013 TYPES Paper/.DS_Store

*.el

*.new

*.agdax

*.ptbx

2013 TYPES Paper/latex/BasicSyntax.pdf

2013 TYPES Paper/latex/ConstructionOmegaGroupoids.pdf

2013 TYPES Paper/latex/lipics-manual.pdf

2013 TYPES Paper/latex/lipics-sample-article.pdf
